// Specific CSS for your home-page
.home-gif {
  position: absolute;
  a {
    position: relative;
    bottom:270px;
    left: 110px;
  }
  img {
    width: 390px;
    height: 844px;
  }
}

.tuto img {
  width: 390px;
  height: 844px;

}
