<div class="container new_ticket" data-controller="new-ticket">
  <div class="bar d-none" data-new-ticket-target="fullbar" >
    <div data-new-ticket-target="bar" class="percentage has-tip"  style="width: 1%" data-perc="50%">
    </div>
    <p data-new-ticket-target="text"></p>
  </div>
  <div class="mt-5" style="width: 100%; height: 100vh; margin: auto" data-controller="photo-preview">
    <%= simple_form_for(@ticket) do |f| %>
      <%= image_tag "", width: 300, class: "hidden mb-3", id: "photo-preview" %>
      <%= f.button :submit, input_html:  { data: { target: "photo-preview.submit", action: "change->photo-preview#test", action: "click->new-ticket#submit" }},class: "d-none create-ticket mb-3", id: "button-submit"  %>
      <%= f.input :photo, as: :file, input_html:  { data: { target: "photo-preview.photo", action: "change->photo-preview#test" }, class: "d-none hidden"},  label_html: { class: 'upload-photo'}, label: 'Prendre une photo ou choisir une image 🧾'  %>
    <% end %>
  </div>
</div>

<div>
<br>
<br>
<br>
<br>
</div>
