.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 20px;
  background: $red;
  transition: background 0.3s ease;
  text-decoration: none;
  font-family: Montserrat;
  font-weight: bold;
}

.btn-flat:hover {
  background: $green;
  color: white;
}
