.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $green;
  transition: background 0.3s ease;
  text-decoration: none;
}

.btn-flat:hover {
  background: $red;
  color: white;
}
