// .dashbooard h2 {
//   justify-items: center;
//   color: white;
//   margin-left: 10px;
// }

// .dashbooard {
//   margin-bottom: 5px;
//   background-color: $white;
// }

// .all-dashboard {
//   background-color: #05152D;
//   height: 100vh;
// }

// .dashboard-background-white {
//   background-color: white;
// }
// .show-cards {
// //   display: flex;
// //   justify-content: center;
// //   margin: 60px;
// //   border-radius: 10px;
// //   box-shadow: 0 0 15px rgba(0,0,0,0.1)
//   color: white;
//   background-color: $red;
// }

// .price-dashboard {
//   margin-bottom: 10px;
// }

// .map-dashboard {
//   justify-content: space-between;
//   align-items: flex;
//   // display: flex;
//   justify-content: center;
//   border-radius: 10px;
//   box-shadow: 0 0 15px rgba(0,0,0.1,0.3);
// }

// .total-price {
//   font-size: 20px;
//   display: flex;
//   justify-content: center;
// }

// .dashboard-created-at {
//   font-size: 15px;
// }

// .flexito {
//   display: flex;
// }

// .dashboard-right {
//   justify-content: space-between;
// }

// .blockito {
//   display: block;
// }

// .last-total-price p{
//   font-size: 23px;
//   justify-content: space-between;
//   margin-bottom: 0;
// }


// .show-cards h2 {
//   text-align: center;
//   margin: 5px;
//   color: $green;
//   padding: 10px;
//   font-weight: bold;
//   font-family: $headers-font;
// }

// .depense-month {
//   color:#05152D;
//   border-radius: 10px;
//   background-color: $white;
//   margin: 5px;
//   padding: 5px;
// }

// .total-sum-per-month-price p {
//   display: flex;
//   color: $green;
//   font-weight: bold;
//   margin-bottom: 0;
// }

// .economy-dashboard {
//   text-align: center;
// }

// .total-sum-per-month p{
//   margin-bottom: 0;
//   text-align: center;
//   font-size: 15px;
//   font-weight: bold;
//   justify-content: center;
// }

// .economy-dashboard p{
//   margin-bottom: 0;
//   font-weight: bold;
//   font-size: 10px;
// }

// .logo-c .img {
//   height: 30vh;
// }

// .sum-month {
//   position: absolute;
// }

// .market-brand p{
//   margin-bottom: 0;
// }

// .each-last {
//   justify-content: space-between;
//   background-color: $white;
//   color:#05152D;
// }


.resume-card {
  background-color: $red;
  margin-top: 20px;
  margin-bottom: 0px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  h2 {
    margin: 0px;
  }
  p#p-resume{
    margin-bottom: 40px;
  }

}

.tickets-card {
  background-color: rgb(44, 43, 43);
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.map-dashboard {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;

}


p.date-ticket {
  color : lightgray;
  font-style: italic;
  margin: 0;
}

.price-ticket{
  position: relative;
  justify-content: center;
  align-items: center;

  img {
    width: 150px;

  }

  h2 {
    position: absolute;
    top: 32%;
    left: 15%;
    color: $green;
  }

}


.info-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  p {
    margin: 0px;
    align-items: center;
    // strong {
    //   color: $green;
    // }
  }
  h2 {
    margin: 0px;
  }

  strong#moins {
    color: rgb(189, 189, 189) !important;
  }

  strong#plus {
    color: $green !important;
  }

}

.title-dashboard {
  display:flex;
  align-items: center;
  img {
    width: 100px;
    height: 100px;
  }

  h1 {
    color: $red;
    align-items: center;
    font-weight: bolder;
    padding-left: 10px;
  }
}

.icone-dashboard {
  text-align: center;
}
