.container_edit {
  background-color:#FFFFFF;
  padding: 20px;
}
.modif_edit_profile {
  color: #FFFFFF;
}
.text_edit_profile {
  color:#08D658;
  text-align: center;
}
.h2_edit_profile {
  color: #0c0101;
}
.h3_edit_profile {
  color: #0c0101;
}
.p_edit_profile {
  color: #0c0101;
}
.form_edit_profile {
  color: #0c0101;
}
.edit_form {
  background-size: cover;
}
.form-actions {
  color: #0c0101;
}
.card-product-profile {
  justify-content: space-between;
  display: flex;
  border: solid green 2px;
}
