.mapboxgl-popup {
  max-width: 200px;

}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  background-color: $gray;
  color: white;
  border-radius: 8px;
  padding: 10px;
  opacity: 0.9;
}

.map-info {
  display: flex;
  text-align: left;
  margin-left: 10px;
}

.map-info p {
  margin-left: 10px;

}

.mapboxgl-ctrl-top-right {
  margin-left: 120px;
  margin-top: 8px;
}

.mapboxgl-ctrl-geocoder--input {
  background-color: white;
  border-radius: 40px;
}

.mapboxgl-ctrl-geocoder--icon mapboxgl-ctrl-geocoder--icon-search {
  color: $red !important;
}

.div-carte {
position: relative;
}

.list-locomotion {
  position: absolute;
  bottom: 80px;
  right: 10px;

  ul{
    list-style-type:none;
  }
  li {
    background-color: white;
    padding:10px;
    margin: 10px;
    border-radius: 50%;
    font-size: 20px;
    text-align: center;
  }
}

.selected {
    background-color: #1E66C9 !important;
    color: white;
}
