.marker .infos {
  position: relative;
  height: 100%;
  span {
    position: absolute;
    bottom: 0;
    left: 15px;
    padding-left:5px;
    padding-right:5px;
    border-radius: 5px;
    color: white;
    font-family: montserrat;
    font-weight: bold;
  }
  .green {
    background-color: $green;
  }

  .red {
    background-color: $red;
  }

}

.ping {


}
