$size-img: 70px;


.navbar-lewagon {
  justify-content: space-between;
  background: $red;
  position: sticky;
  bottom: 0px;
  z-index: 3;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: solid 1px gray;
  .details {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-around;

    #icone-photo {
      position: absolute;
      left: calc(50% - #{$size-img / 2});
      top: -40px;
    }

    #icone-photo-profil {
      position: absolute;
      left: 17px;
      top: -100px;
      border-radius: 50%;
      width: 60px;
    }
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon img {
  width: 40px;
}

img#icone-photo {
  width: $size-img;
}
