.bar {
  margin-top: 30px;
  height: 1em;
  position: relative;
  border-radius: 0.5em;
  background: #f2f2f2;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.bar .percentage {
  position: relative;
  font-size: 1em;
  background: $red;
  height: 1em;
  border-radius: 0.5em;
  justify-content: center;
}
