body {
  font-size: 15px;
  padding: 4em;
}

.bar {
  width: 30em;
  height: 1em;
  position: relative;
  border-radius: 0.5em;
  background: #f2f2f2;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.bar .percentage {
  position: relative;
  font-size: 1em;
  background:rgb(8, 6, 67);
  height: 1em;
  border-radius: 0.5em;
  justify-content: center;
}
